:host(app-root) {
    mat-toolbar {
        background-color: #2b2b2b;
        padding: 0 25px;
        display: flex;
        align-items: center;

        h1,
        button {
            color: white;
        }
        h1 {
            font-weight: 600;
            font-size: 24px;
        }

        .actions {
            margin-left: auto;
            display: flex;
            // gap: 5px;
        }
    }

    .content {
        display: flex;
        justify-content: center;

        .form-container {
            margin-top: 30px;
            width: 400px;
            display: flex;
            flex-direction: column;
        }
    }
}
